@import url(https://fonts.googleapis.com/css?family=Inter:regular,700,800);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

body {
  background: linear-gradient(1.81deg, #015E91 1.33%, #00B9F1 98.26%);
}

.titles {
  margin-top: 213px;
  margin-left: 165px;
}

.title {
  font-weight: 800;
  font-size: 65px;
  line-height: 120%;
  color: #FFFFFF;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, #F3A033), to(#E73600));
  background: linear-gradient(180deg, #F3A033 1.04%, #E73600 100%);
  -webkit-box-shadow: 0px 11.4189px 22.8378px rgba(0, 96, 135, 0.6);
          box-shadow: 0px 11.4189px 22.8378px rgba(0, 96, 135, 0.6);
  border-radius: 17.1284px;
  width: 188px;
  height: 62px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15.9865px;
  color: #FFFFFF;
  border: none;
  margin-top: 20px;
}

.btn:hover {
  background: #a25e0b;
}

.all {
  position: absolute;
  width: 600px;
  height: 700px;
  right: 0;
  top: 190px;
}

.wrapper {
  margin-left: 165px;
  margin-top: 100px;
  margin-bottom: 200px;
  position: relative;
}

.conditions {
  background: #FFFFFF;
  border-radius: 20px;
  width: 555px;
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 50px;
  margin-bottom: 80px;
}

.conditions__title {
  font-weight: 700;
  font-size: 35px;
  color: #015E91;
  margin-bottom: 25px;
}

.conditions__item {
  width: 80%;
  background: url("../img/minus.png") no-repeat center left;
  padding-left: 50px;
  margin-bottom: 25px;
}

.conditions__item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.conditions__btn {
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 165px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, #F3A033), to(#E73600));
  background: linear-gradient(180deg, #F3A033 1.04%, #E73600 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 159, 159, 0.6);
          box-shadow: 0px 10px 20px rgba(255, 159, 159, 0.6);
  border-radius: 15px;
  border: none;
  margin-left: 125px;
  font-size: 14px;
  font-weight: 700;
}

.conditions__btn:hover {
  background: #a25e0b;
}

.questions {
  width: 555px;
  margin-bottom: 80px;
}

.questions__title {
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.questions-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 96, 135, 0.7), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 20px rgba(0, 96, 135, 0.7), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 20px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.questions-item__text {
  font-weight: 700;
  font-size: 25.7273px;
  line-height: 38px;
}

.questions-item__btn {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 14px;
  border: none;
  background: none;
}

.important {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 96, 135, 0.7), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 20px rgba(0, 96, 135, 0.7), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 555px;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 35px;
}

.important__title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
}

.important__items {
  position: relative;
  margin-bottom: 15px;
}

.important__img {
  border: none;
  background: none;
  position: absolute;
}

.important__text {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  padding-left: 40px;
}

@media (max-width: 1300px) {
  .all {
    width: 500px;
    height: 600px;
    right: 20;
    top: 100px;
  }
}

@media (max-width: 1240px) {
  .titles {
    margin-top: 120px;
  }
  .all {
    width: 400px;
    height: 540px;
    top: 220px;
    right: 30%;
  }
  .wrapper {
    margin-top: 300px;
  }
}

@media (max-width: 1140px) {
  .wrapper {
    margin-top: 400px;
    margin-left: 120px;
  }
  .all {
    width: 360px;
    height: 440px;
    top: 330px;
  }
}

@media (max-width: 740px) {
  .all {
    top: 310px;
  }
  .titles {
    margin-left: 80px;
  }
  .title {
    font-size: 50px;
  }
  .wrapper {
    margin-left: 80px;
  }
  .conditions {
    width: 440px;
    margin-bottom: 60px;
  }
  .conditions__title {
    font-size: 28px;
  }
  .conditions__item p {
    font-size: 18px;
  }
  .conditions__btn {
    margin-left: 80px;
  }
  .questions {
    width: 440px;
    margin-bottom: 60px;
  }
  .questions__title {
    font-size: 28px;
  }
  .questions-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .questions-item__text {
    font-size: 18px;
  }
  .important {
    width: 440px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .important__title {
    font-weight: 28px;
  }
  .important__text {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .titles {
    margin-top: 97px;
    margin-left: 30px;
  }
  .title {
    font-size: 25px;
  }
  .btn {
    width: 165px;
    height: 55px;
    font-size: 14px;
  }
  .all {
    top: 218px;
    left: 0%;
  }
  .wrapper {
    margin-left: 15px;
    margin-top: 360px;
  }
  .conditions {
    width: 330px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 35px;
    border-radius: 15px;
  }
  .conditions__title {
    font-size: 21px;
    margin-bottom: 23px;
  }
  .conditions__item {
    margin-bottom: 15px;
  }
  .conditions__item p {
    font-size: 16px;
  }
  .conditions__btn {
    margin-left: 60px;
  }
  .questions {
    width: 330px;
    margin-bottom: 50px;
  }
  .questions__title {
    font-size: 17px;
  }
  .questions-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .questions-item__text {
    font-size: 15.4545px;
  }
  .important {
    width: 330px;
    border-radius: 15px;
    padding-left: 15px;
  }
  .important__title {
    font-size: 21.6364px;
  }
  .important__items {
    margin-bottom: 20px;
  }
  .important__text {
    font-size: 15.4545px;
  }
}
/*# sourceMappingURL=style.css.map */